/* General page styles */
body {
    background-color: #191a1a;
    color: #cdd6d4;
    font-family: "Outfit", sans-serif;;
    margin: 0;
    padding: 20px;
}

* {
    font-family: "Outfit", sans-serif;
    user-select: none;
}

img {
    pointer-events: none;
}

a {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag; 
    text-decoration: none;
    color: #dedede;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header styles */
header {
    margin-top: -25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-top: 21px;
}

/* Search bar styling */
.search-container {
    position: relative;
    align-self: center;
}

input#search-bar::placeholder {
    color: #a8a8a8;
}

#search-bar {
    top: -21px;
    padding: 10px 25px;
    padding-inline-start: 50px;
    left: -100px;
    font-size: 16px;
    border: 2px solid #424846;
    border-radius: 25px;
    background-color: #262626;
    color: #f0f0f0;
    width: 300px;
    transition: border-color 0.3s;
    position: absolute;
    z-index: 1;
}

#search-bar:focus {
    border-color: #545958;
    border-width: 2px;
    outline: none;
}

/* Changelog button styling */
#changelog-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #424846;
    border-radius: 25px;
    background-color: #262626;
    color: #dedede;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
}

#changelog-btn:hover,
#changelog-btn:focus {
    background-color: #242424;
    border-color: #545958;
    outline: none;
}

/* Filter button group styling */
nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.filter-btn-group {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    border: 2px solid #424846;
}

.filter-btn-group button {
    background-color: #262626;
    color: #dedede;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-btn-group button:first-child {
    border-radius: 25px 0 0 25px;
}

.filter-btn-group button:last-child {
    border-radius: 0 25px 25px 0;
}

.filter-btn-group button:hover {
    background-color: #242424;
    outline: none;
}

.filter-btn-group button:focus {
    background-color: #202020;
    outline: none;
}

.filter-btn-group button:not(:last-child) {
    border-right: 2px solid #424846;
}

/* Results section for cards */
#results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0px;
    padding: 20px;
    row-gap: 20px;
    justify-items: center;
}

/* Card styling */
.card {
    background-color: #1c1c1c;
    border: 2px solid #424846;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    margin-left: 4px;
    margin-right: 4px;
    aspect-ratio: 1 / 1;
}

.card-description {
    text-align: center;
    color: #b4b7b7;
    margin-top: 10px;
}

.card:hover {
    background-color: rgb(24, 22, 23);
    box-shadow: 0 10px 30px rgb(40, 31, 38, 0.5);
    border: 2px solid #4e4b4d;
    top: -2%;
    position: relative;
}

.card-icon {
    border-radius: 12px;
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: -2px;
}

.card h3 {
    text-align: center;
}

/* Pagination styles */
#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #303131;
    color: #c4c4c4;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#pagination button:hover {
    background-color: #2b2b2b;
}

#context-menu {
    display: none;
    position: fixed;
    top: 100%;
    left: 0;
    background-color: rgba(31,31,31,0.4);
    backdrop-filter: blur(10px);
    color: #dbe1e0;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #424846;
    max-height: 40vh;
    overflow-y: auto;
    min-width: 19vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#context-menu::-webkit-scrollbar {
    width: 3px;
    background: transparent;
}

#context-menu::-webkit-scrollbar-track {
  background: transparent; 
}

#context-menu::-webkit-scrollbar-thumb {
    background-color: #424846;
    border-radius: 10px;
}

#context-menu::-webkit-scrollbar-thumb:hover {
    background-color: #545958;
    width: 3px;
}

.context-header {
    text-align: center;
    font-weight: bold;
    color: #97a0a1;
    text-transform: uppercase;
}

.context-entry {
    margin-top: 10px;
}

.context-entry::before {
    content: "•";
    opacity: 0.75;
    margin-right: 5px;
}

/* General scrollbar styling for the entire page */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #424846;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #545958; 
}