body {
    background-color: #000000;
    color: #eef4f3;
    overflow: hidden;
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    padding: 12px 20px;
    margin: 20px 0;
    border: none;
    background-color: #191a1a;
    color: #e3e0e0;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Outfit";
    transition: background-color 0.3s, transform 0.2s;
    width: 250px;
    height: 50px;
    font-size: 18px;
}

button:hover {
    background-color: #131313;
}

input {
    padding: 12px 15px;
    margin: 20px 0;
    border: none;
    background-color: #161616;
    color: #c4c4c4;
    border-radius: 5px;
    font-family: 'Outfit';
    width: 250px;
    height: 50px;
    font-size: 16px;
    transition: background-color 0.5s, outline 0s;
    -webkit-text-security: disc;
    text-security: disc;
}

input::placeholder {
    color: #999999;
}

input:focus {
    outline: 2px solid #3a3a3a;
    background-color: #222222;
}

.green {
    transition: none !important;
    background-color: #013c14 !important;
    outline: 2px solid #017221 !important;
}

.red {
    transition: none !important;
    background-color: #3c0117 !important;
    outline: 2px solid #72012e !important;
}

div {
    scale: 1.5;
    margin: 0 auto;
    background-color: rgba(198, 196, 196, 0.019);
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.342);
}

h1 {
    font-weight: 400;
    font-size: 16px;
    color: rgba(253, 253, 253, 0.603);
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    scale: 2;
    position: absolute;
    top: 5%;
    color: #ffffffb1;
}