body {
    background-color: #080808;
    color: #cdd6d4;
    overflow: hidden;
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    padding: 12px 20px;
    margin-top:20px;
    margin-bottom: -15px;
    border: none;
    background-color: #191919;
    color: #c4c4c4;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Outfit";
    transition: background-color 0.3s, transform 0.2s;
    width: 250px;
    height: 50px;
    font-size: 18px;
}

button:hover {
    background-color: #171717;
}

#main {
    scale: 1.5;
    margin: 0 auto;
    background-color: rgba(161, 203, 206, 0.019);
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.342);
}

i {
    scale: 1.5;
    margin-right: 0px;
    rotate: 90deg;
    color: #ffffffe2;
}

h1 {
    font-weight: 400;
    font-size: 16px;
    color: #ffffffab;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin: 11px;
    color: #ffffffe2;
}

h3 {
    font-size: 1.5em;
    margin-top: 14px;
    margin: 12px;
    color: #ffffffe2;
}

#div {
    scale: 2;
    font-size: 1.5em;
    margin-top: 4px;
    width: 1px;
    background-color: #cbcbcbe2;
    border-radius: 1px;
    height: 20px;
}

#toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.toggle-text {
    margin-right: 10px;
    font-size: 16px;
    margin-bottom: 4px;
}

.toggle-input {
    display: none;
}

.toggle-label {
    width: 40px;
    height: 20px;
    background-color: #918f8f;
    border-radius: 15px;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-label::before {
    display: flex;
    content: "";
    position: relative;
    top: 50%;
    left: 5%;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translateY(-50%);
}

.toggle-input:checked + .toggle-label {
    background-color: #29af87a1;
}

.toggle-input:checked + .toggle-label::before {
    transform: translate(20px, -50%);
}

nav {
    scale: 2;
    top: 12%;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}